<div class="page-layout blank p-24">
    <form-layout *ngIf="formLoaded" [formComponent]="this">
        <div fxLayout="row">
            <div fxFlex="45">
                <text-input [inputFormGroup]="form.formGroup" inputFieldName="title" inputLabel="Название"></text-input>
            </div>
            <div fxFlex="10"></div>
            <div fxFlex="45">
                <text-input [inputFormGroup]="form.formGroup" inputFieldName="url" inputLabel="Адрес на сайте">
                </text-input>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="45">
                <chips-input [inputFormGroup]="form.formGroup" inputFieldName="siteIds" inputLabel="Сайты"
                    valueField="id" titleField="title" [entitiesService]="servicesProvider.sitesService"></chips-input>
            </div>
            <div fxFlex="10"></div>
            <div fxFlex="45">
                <text-input [inputFormGroup]="form.formGroup" inputFieldName="hashtag" inputLabel="Тэг для соцсетей">
                </text-input>
            </div>
        </div>
        <blocksForm [model]="model" [form]="form"></blocksForm>
        <div fxLayout="row">
            <div fxFlex="45">
                <upload-input [inputFormGroup]="form.formGroup" inputFieldName="logo" inputLabel="Большой логотип"
                    [multiple]="false" [service]="service"
                    [types]="['image/png', 'image/jpeg', 'image/jpg', 'image/gif']"></upload-input>
            </div>
            <div fxFlex="10"></div>
            <div fxFlex="45">
                <upload-input [inputFormGroup]="form.formGroup" inputFieldName="logoSmall"
                    inputLabel="Маленький логотип" [multiple]="false" [service]="service"
                    [types]="['image/png', 'image/jpeg', 'image/jpg', 'image/gif']"></upload-input>
            </div>
        </div>
    </form-layout>
</div>