@using Sitko.Core.Storage
@using BioEngine.BRC.Common
@using BioEngine.BRC.Common.Entities.Blocks
@inject IStorage<BRCStorageConfig> Storage


@if (Block.Data.Url != String.Empty)
{
    <div>
        <img src="@Storage.PublicUri(Block.Data.Picture)"/>
        <a Icon="delete" @onclick="DeleteImg"></a>
    </div>    
}

@code
{
    [Parameter]
    public PictureBlock Block { get; set; }

   

    async Task DeleteImg()
    {
        if (Block.Data.Picture != null)
        {
            await Storage.DeleteFileAsync(Block.Data.Picture.Path);
            Block.Data = new PictureBlockData();
        }
    }
}