<div class="page-layout blank p-24">
    <form-layout *ngIf="formLoaded" [FormComponent]="this">
        <div fxLayout="row">
            <div fxFlex="45">
                <text-input [FormGroup]="FormGroup" FieldName="Title" Label="Название"></text-input>
            </div>
            <div fxFlex="10"></div>
            <div fxFlex="45">
                <text-input
                    [FormGroup]="FormGroup"
                    FieldName="Url"
                    Label="Адрес на сайте"
                ></text-input>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="45">
                <chips-input
                    [FormGroup]="FormGroup"
                    FieldName="SiteIds"
                    Label="Сайты"
                    ValueField="Id"
                    TitleField="Title"
                    [Options]="Sites"
                ></chips-input>
            </div>
            <div fxFlex="10"></div>
            <div fxFlex="45">
                <text-input
                    [FormGroup]="FormGroup"
                    FieldName="Hashtag"
                    Label="Тэг для соцсетей"
                ></text-input>
            </div>
        </div>
        <cke-input
            [FormGroup]="FormGroup"
            FieldName="ShortDescription"
            Label="Краткое описание"
        ></cke-input>
        <div fxLayout="row">
            <div fxFlex="45">
                <upload-input
                    [FormGroup]="FormGroup"
                    FieldName="Logo"
                    Label="Большой логотип"
                    [Multiple]="false"
                    [Service]="service"
                    [Types]="['image/png', 'image/jpeg', 'image/jpg', 'image/gif']"
                ></upload-input>
            </div>
            <div fxFlex="10"></div>
            <div fxFlex="45">
                <upload-input
                    [FormGroup]="FormGroup"
                    FieldName="LogoSmall"
                    Label="Маленький логотип"
                    [Multiple]="false"
                    [Service]="service"
                    [Types]="['image/png', 'image/jpeg', 'image/jpg', 'image/gif']"
                ></upload-input>
            </div>
        </div>
    </form-layout>
</div>
