<div class="page-layout blank p-24">
    <form-layout *ngIf="formLoaded" [FormComponent]="this">
        <text-input [FormGroup]="formGroup" FieldName="Title"
                    Label="Название"></text-input>
        <text-input [FormGroup]="formGroup" FieldName="Url"
                    Label="Адрес на сайте"></text-input>
        <chips-input [FormGroup]="formGroup" FieldName="SectionIds" Label="Разделы"
                     TitleField="Title"
                     ValueField="Id"
                     [Options]="Sections"></chips-input>
        <chips-input [FormGroup]="formGroup" FieldName="TagIds" Label="Тэги"
                     TitleField="Name"
                     ValueField="Id"
                     [Creatable]="true"
                     [EntitiesService]="servicesProvider.TagsService"
                     [Options]="Tags"></chips-input>
        <cke-input [FormGroup]="formGroup" FieldName="Text"
                   Label="Текст"></cke-input>
        <upload-input [FormGroup]="formGroup"
                      FieldName="File"
                      Label="Файл"
                      DisplayMode="files"
                      [Service]="getService()"
                      [Multiple]="false"></upload-input>
    </form-layout>
</div>