<form-layout *ngIf="formLoaded" [FormComponent]="this">
  <text-input [FormGroup]="formGroup" FieldName="Title"
              Label="Название"></text-input>
  <text-input [FormGroup]="formGroup" FieldName="Url"
              Label="Адрес на сайте"></text-input>
  <tags-input [FormGroup]="formGroup" FieldName="SectionIds" Label="Разделы"
              [Options]="Sections"></tags-input>
  <tags-input [FormGroup]="formGroup" FieldName="TagIds" Label="Тэги"
              DisplayField="Name"
              [AllowAdd]="true"
              [Options]="Tags"></tags-input>
  <cke-input [FormGroup]="formGroup" FieldName="Text"
             Label="Текст"></cke-input>
  <upload-input [FormGroup]="formGroup"
                FieldName="File"
                Label="Файл"
                DisplayMode="files"
                [Service]="getService()"
                [Multiple]="false"></upload-input>
</form-layout>
