<form-layout *ngIf="formLoaded" [FormComponent]="this">
  <text-input [FormGroup]="formGroup" FieldName="Title"
              Label="Название"></text-input>
  <text-input [FormGroup]="formGroup" FieldName="Url"
              Label="Адрес на сайте"></text-input>
  <tags-input [FormGroup]="formGroup" FieldName="SectionIds" Label="Разделы"
              [Options]="Sections"></tags-input>
  <tags-input [FormGroup]="formGroup" FieldName="TagIds" Label="Тэги"
              [AllowAdd]="true"
              DisplayField="Name"
              [Options]="Tags"></tags-input>
  <cke-input [FormGroup]="formGroup" FieldName="Text"
             Label="Текст"></cke-input>
  <upload-input [FormGroup]="formGroup" FieldName="Pictures"
                Label="Картинки"
                [Multiple]="true"
                [Service]="getService()"
                [Types]='["image/png", "image/jpeg", "image/jpg", "image/gif"]'></upload-input>
</form-layout>
