<nb-card>
  <nb-card-header>{{Title}}</nb-card-header>
  <nb-card-body>
    <form class="form-horizontal" [formGroup]="formGroup" *ngIf="formLoaded">
      <nb-tabset>
        <nb-tab tabTitle="Основное">
          <div>
            <text-input [FormGroup]="formGroup" FieldName="Title"
                        Label="Название"></text-input>
            <text-input [FormGroup]="formGroup" FieldName="Url"
                        Label="Адрес на сайте"></text-input>
            <chips-input [FormGroup]="formGroup" FieldName="Sections" Label="Разделы"
                         [Options]="sectionsOptions"></chips-input>
            <chips-input [FormGroup]="formGroup" FieldName="Tags" Label="Тэги"
                         [OnlyFromAutocomplete]="false"
                         [Options]="tagsOptions"></chips-input>
            <cke-input [FormGroup]="formGroup" FieldName="Text"
                       Label="Текст"></cke-input>
            <images-upload-input [FormGroup]="formGroup" FieldName="Pictures"
                                 Label="Картинки"
                                 [Multiple]="true"
                                 [Types]='["image/png", "image/jpeg", "image/jpg", "image/gif"]'></images-upload-input>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Seo">
          <textarea-input [FormGroup]="formGroup" FieldName="Description"
                          Label="Описание"></textarea-input>
        </nb-tab>
      </nb-tabset>
      <button class="btn btn-primary" type="submit" (click)="save()" [disabled]="formGroup.invalid||!hasChanges">
        Сохранить
      </button>
    </form>
  </nb-card-body>
</nb-card>
