<div class="page-layout blank p-24">
    <form-layout *ngIf="formLoaded" [formComponent]="this">
        <text-input [inputFormGroup]="form.formGroup" inputFieldName="title" inputLabel="Название"></text-input>
        <autocomplete-input [inputFormGroup]="form.formGroup" inputFieldName="siteId" inputLabel="Сайт"
            titleField="title" valueField="id" [entitiesService]="servicesProvider.sitesService"></autocomplete-input>
        Пункты меню
        <tree-root class="mat-elevation-z4" #tree (initialized)="onInit(tree)" [nodes]="model.items"
            [options]="options">
            <ng-template #treeNodeTemplate let-node let-index="index">
                <span (dblclick)="openEditDialog(node)" node="node">{{ node.data.label }}</span>
                <icon (click)="addMenuItem(node)" iconName="fa-plus"></icon>
                <icon (click)="deleteMenuItem(node)" iconName="fa-trash"></icon>
            </ng-template>
        </tree-root>
        <button mat-raised-button color="primary" (click)="addMenuItem()">
            Добавить пункт
        </button>
    </form-layout>
</div>