<div class="page-layout blank p-24">
    <form-layout *ngIf="formLoaded" [FormComponent]="this">
        <text-input [FormGroup]="FormGroup" FieldName="Title" Label="Название"></text-input>
        <autocomplete-input
            [FormGroup]="FormGroup"
            FieldName="SiteId"
            Label="Сайт"
            TitleField="Title"
            ValueField="Id"
            [Options]="Sites"
        ></autocomplete-input>
        Пункты меню
        <tree-root
            class="mat-elevation-z4"
            #tree
            (initialized)="onInit(tree)"
            [nodes]="model.Items"
            [options]="options"
        >
            <ng-template #treeNodeTemplate let-node let-index="index">
                <span (dblclick)="openEditDialog(node)" node="node">{{ node.data.Label }}</span>
                <icon (click)="addMenuItem(node)" iconName="fa-plus"></icon>
                <icon (click)="deleteMenuItem(node)" iconName="fa-trash"></icon>
            </ng-template>
        </tree-root>
        <button mat-raised-button color="primary" (click)="addMenuItem()">
            Добавить пункт
        </button>
    </form-layout>
</div>
