.drop-above {
    border-top: 10px solid #dddddd;
    margin-top: -10px;
}

.drop-below {
    border-bottom: 10px solid #dddddd;
    margin-bottom: -10px;
}

.drop-center {
    background-color: #dddddd;
}

mat-tree-node {
    button.mat-icon-button {
        width: 25px;
        height: 25px;
        line-height: 25px;

        icon {
            font-size: 18px !important;
            color: #eaeaea;
            &:hover{
                color: black;
            }
        }
    }
}