<div class="page-layout blank p-24">
    <content-form-layout *ngIf="formLoaded" [formComponent]="this">
        <div fxLayout="row">
            <div fxFlex="45">
                <text-input [inputFormGroup]="form.formGroup" inputFieldName="title" inputLabel="Название"></text-input>
            </div>
            <div fxFlex="10"></div>
            <div fxFlex="45">
                <text-input [inputFormGroup]="form.formGroup" inputFieldName="url" inputLabel="Ссылка">
                </text-input>
            </div>
        </div>
        <chips-input [inputFormGroup]="form.formGroup" inputFieldName="siteIds" inputLabel="Сайты" titleField="title"
            valueField="id" [entitiesService]="servicesProvider.sitesService"></chips-input>
        <upload-input [inputFormGroup]="form.formGroup" inputFieldName="picture" inputLabel="Картинка"
                      [multiple]="false" [service]="servicesProvider.adsService"
                      [types]="['image/png', 'image/jpeg', 'image/jpg', 'image/gif']"></upload-input>
    </content-form-layout>
</div>
