.form-container {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    min-width: 100%;
}

.post-form {
    height: 100%;
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    min-width: 100%;
    justify-content: space-around;
}

.side {
    padding-left: 10px;
}

mat-sidenav-container {
    flex: 1 1 auto;
    display: flex;
}

mat-sidenav {
    width: 20%;

    chips-input {
        width: 98%;
    }
}
mat-sidenav-content {
    overflow: hidden;
    display: flex;

    .editor {
        flex: 1 1 auto;
        background: white;
    }
}

.page-layout {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
}
