<div class="page-layout blank bg-white inner-scroll" *ngIf="formLoaded">
    <mat-sidenav-container>
        <mat-sidenav-content fxFlex>
            <div class="editor p-24" brcPerfectScrollbar>
                <text-input
                        [inputFormGroup]="form.formGroup"
                    inputFieldName="title"
                    inputLabel="Название"
                ></text-input>
                <blocksForm [model]="model" [form]="form"></blocksForm>
            </div>
        </mat-sidenav-content>
        <mat-sidenav #sidenav mode="side" opened class="p-24" position="end">
            <div>
                <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    (click)="save()"
                    [ngClass]="{
                        invalid: form.formGroup.invalid,
                        'no-changes': !form.hasChanges
                    }"
                    [disabled]="form.formGroup.invalid || !form.hasChanges || form.inProgress"
                >
                    Сохранить
                </button>
                &nbsp;
                <button
                    mat-raised-button
                    color="accent"
                    (click)="changePublishState()"
                    *ngIf="!model.isPublished"
                    [disabled]="form.formGroup.invalid || form.hasChanges || form.inProgress"
                >
                    Опубликовать
                </button>
                <button
                    mat-raised-button
                    color="warn"
                    (click)="changePublishState()"
                    *ngIf="model.isPublished"
                    [disabled]="form.formGroup.invalid || form.hasChanges || form.inProgress"
                >
                    Спрятать
                </button>
            </div>
            <text-input
                    [inputFormGroup]="form.formGroup"
                inputFieldName="url"
                inputLabel="Адрес на сайте"
            ></text-input>
            <chips-input
                    [inputFormGroup]="form.formGroup"
                inputFieldName="sectionIds"
                inputLabel="Разделы"
                titleField="title"
                valueField="id"
                [options]="sections"
            ></chips-input>
            <chips-input
                    [inputFormGroup]="form.formGroup"
                inputFieldName="tagIds"
                inputLabel="Тэги"
                titleField="name"
                valueField="id"
                [creatable]="true"
                [entitiesService]="servicesProvider.tagsService"
                [options]="tags"
            ></chips-input>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
