<div class="page-layout blank p-24 bg-white" *ngIf="formLoaded">
    <div fxLayout="row" class="post-form">
        <div fxFlex="70" class="editor p-8 mat-elevation-z8 ">
            <text-input
                [FormGroup]="Form.FormGroup"
                FieldName="Title"
                Label="Название"
            ></text-input>
            <div
                *ngFor="let block of (BlocksManager.Blocks | async); trackBy: block?.Id"
                class="blockElement"
            >
                <blockForm
                    [blocksManager]="BlocksManager"
                    [Form]="Form"
                    [Model]="block"
                ></blockForm>
            </div>
        </div>
        <div fxFlex="20" class="side p-8">
            <div>
                <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    (click)="save()"
                    [ngClass]="{
                        invalid: Form.FormGroup.invalid,
                        'no-changes': !Form.hasChanges
                    }"
                    [disabled]="Form.FormGroup.invalid || !Form.hasChanges || Form.inProgress"
                >
                    Сохранить
                </button>
                &nbsp;
                <button
                    mat-raised-button
                    color="accent"
                    (click)="changePublishState()"
                    *ngIf="!model.IsPublished"
                    [disabled]="Form.FormGroup.invalid || Form.hasChanges || Form.inProgress"
                >
                    Опубликовать
                </button>
                <button
                    mat-raised-button
                    color="warn"
                    (click)="changePublishState()"
                    *ngIf="model.IsPublished"
                    [disabled]="Form.FormGroup.invalid || Form.hasChanges || Form.inProgress"
                >
                    Спрятать
                </button>
            </div>
            <text-input
                [FormGroup]="Form.FormGroup"
                FieldName="Url"
                Label="Адрес на сайте"
            ></text-input>
            <chips-input
                [FormGroup]="Form.FormGroup"
                FieldName="SectionIds"
                Label="Разделы"
                TitleField="Title"
                ValueField="Id"
                [Options]="Sections"
            ></chips-input>
            <chips-input
                [FormGroup]="Form.FormGroup"
                FieldName="TagIds"
                Label="Тэги"
                TitleField="Name"
                ValueField="Id"
                [Creatable]="true"
                [EntitiesService]="servicesProvider.TagsService"
                [Options]="Tags"
            ></chips-input>
        </div>
    </div>
</div>
