<div class="form-group" [formGroup]="FormGroup" [ngClass]="{'has-danger': Control.invalid}">
  <label>{{Label}}</label>
  <div class="imagesList">
    <ng-container *ngFor="let picture of pictures; index as index;">
      <div *ngIf="picture.PublicUri" class="uploadedImage">
        <a (click)="delete(index)" class="delete">
          <fa-icon icon="times"></fa-icon>
        </a>
        <a class="img" href="{{picture.PublicUri}}" target="_blank">
          <img src="{{picture.PublicUri}}" alt="{{picture.FileName}}"/>
        </a>
      </div>
    </ng-container>
  </div>
  <file-drop (click)="openFileChooseDialog()"
             [headertext]="Multiple?'Перенесите файлы сюда или нажмите для выбора':'Перенесите файл сюда или нажмите для выбора'"
             (onFileDrop)="processFiles($event.files)"></file-drop>
  <input type="hidden" [formControlName]="FieldName">
  <input style="visibility:hidden;" [attr.multiple]="Multiple==true?'multiple':null" (change)="onValueChange($event)"
         type="file" #fileInput
         accept="{{Types.join(', ')}}"/>
  <errorsList [Control]="Control"></errorsList>
</div>
