// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
// global app font size
@import './font-size';
// loading progress bar theme
@import './pace.theme';
@import './bootstrap-rtl';
@import '~@ng-select/ng-select/themes/material.theme.css';
@import '~angular-tree-component/dist/angular-tree-component.css';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
}

;

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.form-text.control-error {
  color: var(--red);
}

.nb-theme-default a {
  color: var(--blue);
}

.nb-theme-default a:hover, .nb-theme-default a:focus {
  color: var(--indigo);
}

a.addButton {
  font-size: 2em;
  position: absolute;
  display: block;
  bottom: 20px;
  right: 50px;
  background: #3dcc6d;
  color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 55px;
}

a.addButton:hover {
  color: white;
  width: 60px;
  height: 60px;
  line-height: 65px;
  border-radius: 60px;
  bottom: 15px;
  right: 45px;
  font-size: 2.5em;
}

.main-content {
  position: relative;
}

.tags-list {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05rem;
  color: #444;
  border-radius: 16px;
  margin-right: 0.3rem;
  margin-bottom: 0.1rem;
  margin-left: 0;
  padding: 0 0.45rem;
  height: 32px;
  line-height: 34px;
  background: #efefef;
  user-select: none;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
  position: relative;
}

.tag .tag-text {

}

table.dataTable tr td {
  line-height: 34px;
}

table.dataTable tr td .fa {
  font-size: 24px;
  padding-right: 5px;
}

.nb-theme-corporate nb-tabset nb-tab {
  padding: 1.25rem;
}

form-layout nb-tab {
  min-height: 400px;
}

form-layout form .btn {
  margin-right: 5px;
}
