<div class="page-layout blank" brcPerfectScrollbar>
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="2"
        >
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Последние посты
                        <button
                            mat-icon-button
                            class="more-button"
                            aria-label="Toggle menu"
                            [routerLink]="['/posts/list']"
                        >
                            <icon iconName="fa-external-link-alt"></icon>
                        </button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <mat-list>
                        <a mat-list-item [routerLink]="['/posts/', post.id, 'edit']"
                           *ngFor="let post of posts|async"> {{post.title}} </a>

                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
        >
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Последние страницы
                        <button
                            mat-icon-button
                            class="more-button"
                            aria-label="Toggle menu"
                            [routerLink]="['/pages/list']"
                        >
                            <icon iconName="fa-external-link-alt"></icon>
                        </button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <mat-list>
                        <a mat-list-item [routerLink]="['/pages/', page.id, 'edit']"
                           *ngFor="let page of pages|async"> {{page.title}} </a>

                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
        >
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Последние игры
                        <button
                            mat-icon-button
                            class="more-button"
                            aria-label="Toggle menu"
                            [routerLink]="['/sections/list/games']"
                        >
                            <icon iconName="fa-external-link-alt"></icon>
                        </button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <mat-list>
                        <a mat-list-item [routerLink]="['/sections/games/', game.id, 'edit']"
                           *ngFor="let game of games|async"> {{game.title}} </a>

                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
        >
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Последние разработчики
                        <button
                            mat-icon-button
                            class="more-button"
                            aria-label="Toggle menu"
                            [routerLink]="['/sections/list/developers']"
                        >
                            <icon iconName="fa-external-link-alt"></icon>
                        </button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <mat-list>
                        <a mat-list-item [routerLink]="['/sections/developers/', developer.id, 'edit']"
                           *ngFor="let developer of developers|async"> {{developer.title}} </a>

                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
        >
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Последние темы
                        <button
                            mat-icon-button
                            class="more-button"
                            aria-label="Toggle menu"
                            [routerLink]="['/sections/list/topics']"
                        >
                            <icon iconName="fa-external-link-alt"></icon>
                        </button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <mat-list>
                        <a mat-list-item [routerLink]="['/sections/topics/', topic.id, 'edit']"
                           *ngFor="let topic of topics|async"> {{topic.title}} </a>

                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
