<nb-card>
  <nb-card-header>{{Title}}</nb-card-header>

  <nb-card-body [hidden]="!provider.dataLoaded">
    <div class="text-center">
      <pagination-controls (pageChange)="provider.changePage($event)" id="server" previousLabel="Назад"
                           nextLabel="Вперёд"></pagination-controls>
    </div>
    <table class="table dataTable">
      <thead>
      <tr>
        <th *ngFor="let column of provider.columns"
            [ngClass]="{
                      'sorting_asc':column.Sorted==provider.sortDirection.Asc,
                      'sorting_desc':column.Sorted==provider.sortDirection.Desc,
                      'sorting':column.Sortable}"
            (click)="column.Sortable?provider.applySort(column.Key):null">
          {{column.Title}}
          <fa-icon icon="sort" *ngIf="column.Sortable&&column.Sorted==null"></fa-icon>
          <fa-icon icon="sort-amount-down" *ngIf="column.Sorted==provider.sortDirection.Desc"></fa-icon>
          <fa-icon icon="sort-amount-up" *ngIf="column.Sorted==provider.sortDirection.Asc"></fa-icon>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let item of provider.items | async | paginate: { id: 'server', itemsPerPage: provider.itemsPerPage, currentPage: provider.currentPage, totalItems: provider.totalItems }"
        [ngClass]="provider.getRowClass(item)"
      >
        <td *ngFor="let column of provider.columns">
          <span *ngIf="column.Type===provider.columnTypes.Text">{{column.getValue(item)}}</span>
          <span *ngIf="column.Type===provider.columnTypes.Link"><a [routerLink]="column.getLink(item)"
                                                                   [class.disabled]="column.Disabled">{{column.getValue(item)}}</a></span>
          <span *ngIf="column.Type===provider.columnTypes.ActionLink"><a href="javascript:" (click)="column.Click(item)"
                                                                         [class.disabled]="column.Disabled">{{column.getValue(item)}}</a></span>
          <span
            *ngIf="column.Type===provider.columnTypes.TimeAgo"
            title="{{column.getValue(item)| amLocal | amDateFormat:'DD MMMM YYYY, HH:mm:ss'}}">{{(column.getValue(item)) | amTimeAgo}}</span>
          <span *ngIf="column.Type===provider.columnTypes.Actions">
                      <span *ngFor="let action of column.Actions">
                        <a *ngIf="action.Type===provider.actionTypes.Click" title="{{action.Title}}" href="javascript:"
                           (click)="action.Click(item)"><fa-icon [icon]="action.Icon"></fa-icon></a>
                        <a *ngIf="action.Type===provider.actionTypes.ExternalLink" title="{{action.Title}}"
                           href="{{action.GenerateUrl(item)}}"
                           target="_blank"><fa-icon [icon]="action.Icon"></fa-icon></a>
                      </span>
                    </span>
          <span class="tags-list" *ngIf="column.Type==provider.columnTypes.SitesList">
            <span *ngFor="let siteId of column.getValue(item)">
              <span class="tag">{{column.Sites[siteId].Title}}</span>
            </span>
          </span>
          <span class="tags-list" *ngIf="column.Type==provider.columnTypes.SectionsList">
            <span *ngFor="let sectionId of column.getValue(item)">
              <span class="tag">{{column.Sections[sectionId].Title}}</span>
            </span>
          </span>
          <span class="tags-list" *ngIf="column.Type==provider.columnTypes.TagsList">
            <span *ngFor="let tagId of column.getValue(item)">
              <span class="tag">{{column.Tags[tagId].Name}}</span>
            </span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <pagination-controls (pageChange)="provider.changePage($event)" id="server" previousLabel="Назад"
                           nextLabel="Вперёд"></pagination-controls>
    </div>
  </nb-card-body>
  <nb-card-body [hidden]="provider.dataLoaded">
    Загрузка данных
  </nb-card-body>
</nb-card>


<a class="addButton" *ngIf="addUrl" [routerLink]="addUrl">
  <fa-icon icon="plus"></fa-icon>
</a>
