* {
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }

    // Remove focus outline
    &:focus {
        outline: none;
    }
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #f5f5f5;
}

@import '~@angular/material/theming';
@include mat-core();

@import 'app/@common/styles/theme';

@include angular-material-theme($brc-theme);

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

$storage-manager-bg-color: mat-color($brc-accent) !important;
$storage-manager-row-hover: mat-color($brc-accent);
$storage-manager-row-selected: lighten(mat-color($brc-accent), 10);

@import "~bioengine-angular/styles";

.page-layout {
    position: relative;
    overflow: hidden;

    &.blank {
        width: 100%;
        min-height: 100%;
        background: white;
    }
}

@each $prop, $abbrev in (margin: m, padding: p) {
    @for $index from 0 through 64 {
        $size: $index * 4;
        $length: #{$size}px;

        .#{$abbrev}-#{$size} {
            #{$prop}: $length !important;
        }
    }
}

.sidebar {
    background-color: #415f8c;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    z-index: 1000;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
    left: 0;
    position: relative !important;

    .logo {
        padding: 20px;

        img {
            max-width: 100%;
        }
    }

    .nav-item a {
        color: #fff;
    }
}

snack-bar-container {
    padding: 0 !important;
    background: transparent !important;

    &.panel-primary {
        mat-card {
            color: mat-color($brc-primary, default-contrast);
            background: mat-color($brc-primary);
        }
    }

    &.panel-warn {
        mat-card {
            color: mat-color($brc-warn, default-contrast);
            background: mat-color($brc-warn);
        }
    }

    &.panel-accent {
        mat-card {
            color: mat-color($brc-accent, default-contrast);
            background: mat-color($brc-accent);
        }
    }
}

text-block-form {
    .ck.ck-editor__editable_inline > :last-child {
        margin-bottom: 5px;
    }

    .ck.ck-editor__editable_inline > :first-child {
        margin-top: 5px;
    }
}

mat-chip {
    icon {
        font-size: 18px !important;
    }

    mat-icon.mat-icon {
        color: rgba(0, 0, 0, 0.4);
        margin-left: 5px;
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
}
