<div class="row">
  <div class="col-xxxl-12 col-md-12">
    <ngx-status-card title="Сайты"
                     icon="globe">
      <div class="status">
        <a [routerLink]="'/sites/list'">{{sitesCount}}</a>
      </div>
    </ngx-status-card>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-4 col-md-6">
    <ngx-status-card title="Посты"
                     icon="file-alt">
      <div class="status">
        <a [routerLink]="'/content/list/posts'">{{postsCount}}</a>
      </div>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-4 col-md-6">
    <ngx-status-card title="Галерея"
                     icon="images">
      <div class="status">
        <a [routerLink]="'/content/list/gallery'">{{galleryCount}}</a>
      </div>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-4 col-md-6">
    <ngx-status-card title="Файлы"
                     icon="file-archive">
      <div class="status">
        <a [routerLink]="'/content/list/files'">{{filesCount}}</a>
      </div>
    </ngx-status-card>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-4 col-md-6">
    <ngx-status-card title="Разработчики"
                     icon="users">
      <div class="status">
        <a [routerLink]="'/content/developers'">{{developersCount}}</a>
      </div>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-4 col-md-6">
    <ngx-status-card title="Игры"
                     icon="gamepad">
      <div class="status">
        <a [routerLink]="'/content/games'">{{gamesCount}}</a>
      </div>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-4 col-md-6">
    <ngx-status-card title="Темы"
                     icon="folder">
      <div class="status">
        <a [routerLink]="'/content/topics'">{{topicsCount}}</a>
      </div>
    </ngx-status-card>
  </div>
</div>
