<a
    class="nav-link"
    [ngClass]="item.classes"
    *ngIf="!item.url"
    (click)="toggleOpen($event)"
    matRipple
>
    <ng-container *ngTemplateOutlet="itemContent"></ng-container>
</a>
<a
    class="nav-link"
    [ngClass]="item.classes"
    *ngIf="item.url"
    (click)="toggleOpen($event)"
    [routerLink]="[item.url]"
    [routerLinkActive]="['active', 'mat-accent-bg']"
    [routerLinkActiveOptions]="{ exact: item.exactMatch || false }"
    [target]="'_self'"
    matRipple
>
    <ng-container *ngTemplateOutlet="itemContent"></ng-container>
</a>

<ng-template #itemContent>
    <icon [icon]="item.icon" classes="nav-link-icon"></icon>
    <span class="nav-link-title">{{ item.title }}</span>
    <icon classes="collapsable-arrow" iconName="fa-angle-down"></icon>
</ng-template>

<div class="children" [@slideInOut]="isOpen">
    <ng-container *ngFor="let item of item.children">
        <nav-item *ngIf="item.type == 'item'" [item]="item"></nav-item>
        <nav-collapsable *ngIf="item.type == 'collapsable'" [item]="item"></nav-collapsable>
        <nav-group *ngIf="item.type == 'group'" [item]="item"></nav-group>
    </ng-container>
</div>
