<ng-container>
    <!-- item.url -->
    <a
        class="nav-link"
        *ngIf="item.url"
        [routerLink]="[item.url]"
        [routerLinkActive]="['active', 'mat-accent-bg']"
        [routerLinkActiveOptions]="{ exact: item.exactMatch || false }"
        [target]="'_self'"
        matRipple
    >
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <ng-template #itemContent>
        <icon [icon]="item.icon" classes="nav-link-icon"></icon>
        <span class="nav-link-title">{{ item.title }}</span>
    </ng-template>
</ng-container>
